@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #89cae8;
	color: #4a452e;
}

html, body {
	margin: 0;
	padding: 0;
}